# ==========================================
# Quantum HPC Research Project
# DREU 2026
# ==========================================

# Numerical Computing
numpy==2.4.6
scipy==1.17.1

# Data Processing
pandas==3.0.3

# Visualization
matplotlib==3.11.0
pylatexenc==2.10

# Machine Learning
scikit-learn==1.9.0

# Quantum Computing
qiskit==2.5.0
qiskit-aer==0.17.2

# Notebook Support (optional)
jupyter
ipykernel